*{
    margin: 0
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-family: "Circular-Std";
}
button{
  font-family: "Circular-Std" !important;
}

.border-custom {
    border-bottom: 1px solid #D8D8D8;
}
